PORT=3000
NODE_ENV=development

# Database
DB_TYPE=mysql
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=****
DB_NAME=*****
DB_SYNCHRONIZE=true
DB_LOGGING=true

#security 
ALLOWED_ORIGINS=http://localhost:3000,https://yourdomain.com
#rate limiter
RATE_LIMITER_MINUTES = 15
RATE_LIMITER_MAX_REQUESTS = 100
#morgan logger
MORGAN_LOG_FORMAT: combined
#JWT tokens
JWT_EXPIRES_IN = 1h
JWT_SECRET=your-super-secret-jwt-key
